[submodule "src/platform-riscv"]
	path = src/platform-riscv
	url = https://github.com/diodesign/platform-riscv.git
[submodule "src/devicetree"]
	path = src/devicetree
	url = https://github.com/diodesign/devicetree.git
[submodule "src/byterider"]
	path = src/byterider
	url = https://github.com/diodesign/byterider.git
[submodule "src/qemuprint"]
	path = src/qemuprint
	url = https://github.com/diodesign/qemuprint.git
