[submodule "src/platform-riscv"]
	path = hypervisor/src/platform-riscv
	url = https://github.com/diodesign/platform-riscv.git
[submodule "src/devicetree"]
	path = hypervisor/src/devicetree
	url = https://github.com/diodesign/devicetree.git
[submodule "src/byterider"]
	path = hypervisor/src/byterider
	url = https://github.com/diodesign/byterider.git
[submodule "src/qemuprint"]
	path = hypervisor/src/qemuprint
	url = https://github.com/diodesign/qemuprint.git
[submodule "src/gooey"]
	path = services/src/gooey
	url = https://github.com/diodesign/gooey.git
[submodule "services/src/supervisor-riscv"]
	path = services/src/supervisor-riscv
	url = https://github.com/diodesign/supervisor-riscv.git
[submodule "hypervisor/mason"]
	path = mason
	url = https://github.com/diodesign/mason.git
[submodule "services/gooey"]
	path = services/gooey
	url = https://github.com/diodesign/gooey.git
[submodule "services/supervisor-riscv"]
	path = services/supervisor-riscv
	url = https://github.com/diodesign/supervisor-riscv.git
