[submodule "src/platform-riscv"]
	path = src/hypervisor/src/platform-riscv
	url = https://github.com/diodesign/platform-riscv.git
[submodule "src/devicetree"]
	path = src/hypervisor/src/devicetree
	url = https://github.com/diodesign/devicetree.git
[submodule "src/byterider"]
	path = src/hypervisor/src/byterider
	url = https://github.com/diodesign/byterider.git
[submodule "src/gooey"]
	path = services/src/gooey
	url = https://github.com/diodesign/gooey.git
[submodule "services/src/supervisor-riscv"]
	path = services/src/supervisor-riscv
	url = https://github.com/diodesign/supervisor-riscv.git
[submodule "hypervisor/mason"]
	path = src/mason
	url = https://github.com/diodesign/mason.git
[submodule "services/gooey"]
	path = src/services/src/gooey
	url = https://github.com/diodesign/gooey.git
[submodule "services/supervisor-riscv"]
	path = src/services/src/supervisor-riscv
	url = https://github.com/diodesign/supervisor-riscv.git
[submodule "src/mkdmfs"]
	path = src/mkdmfs
	url = https://github.com/diodesign/mkdmfs.git
