
# stop this sort of cruft ending up in the repo
*~
*.swp
*.swo
*.o
*.bin
*.iso
*.out
.DS_Store

# ignore Cargo metadata
*.lock

# ignore compiler output directories
/target/

# ignore rustfmt stuff
**/*.rs.bk

# ignore IDE stuff for now
.vscode
